body{
  background-color: #fc7be6;
  font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
  padding: 2em 0em 5em 0em
}
#container{
  background-color: #ffffff;
  width:90%;
  margin: auto;
  height: 90%;
  border-radius: 0em 0em 3em 3em;
}
#header{
  background-color: #97498a;
  width:90%;
  margin: auto;
  border-radius: 3em 3em 0em 0em;
}

.contents{
  padding:1em 0em 1em 0em;
}
.center{
  text-align: center;
}
h1{
  font-size: 8vmin;
}
h2{
  font-size: 4.5vmin;
}
th{
  font-size: 3vmin;
}
p{
  font-size: 2.5vmin;
}
.header{
  text-align: center;
  font-weight: bold;
  color: white;
}
p.description{
  text-align: center;
  font-weight: bold;
  color: white;
}
.flashy{
  color: red;
  font-style: italic;
}
.best{
  color: red;
  font-size: 4vmin;
  text-decoration: underline;
}
img{
  border-radius: 2em;
}
.paragraph1{
  text-align: center;
  font-size: 3vmin
}
.paragraph2{
  text-align: center;
  font-size: 1.75vmin
}
.imgcenter{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.padding{
  padding: 3em 0em 5em 0em
}
.red{
  color: red;
}
